data-ofelia.db
modelo/__pycache__/conexion.cpython-38.pyc
modelo/__pycache__/FechayHora.cpython-38.pyc
 
.pytest_cache/v/cache/stepwise
.pytest_cache/v/cache/nodeids


.vscode/settings.json
 
 
 
modelo/__pycache__/conexion.cpython-38.pyc
